$color-red: #E25F70;
$color-red-dark: #D24C5E;
$color-red-light: #F17081;

$color-peach: #FBB79E;
$color-peach-dark: #E4A087;
$color-peach-light: #FFC4AE;

$color-plum: #4C384A;
$color-plum-dark: #2D1F2C;
$color-plum-light: #6E516B;

$color-coffee: #866768;
$color-coffee-dark: #6F5152;
$color-coffee-light: #A68586;

$color-background: #FAFAFA;
$color-text: $color-plum-dark;
