@import 'src/sass/variables';

.Splash {
  text-align: center;
  margin-top: 40px;
  text-shadow: 1px 1px 1px #FFF;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('~assets/splash.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.3;
  }

  &-tag {
    font-size: 58px;
  }

  &-description {
    font-size: 22px;
    font-weight: 100;
  }
}
