.MultiField {
  position: relative;
  border: 1px solid rgba(#000, 0.12);
  border-radius: 4px;
  padding: 20px 20px;
  margin: 25px auto;

  &-label {
    position: absolute;
    top: 0;
    padding: 0 8px;
    background: #FFF;
    transform: translateY(-50%);
    font-size: 16px;
    opacity: 1;
  }

  &-fields {
    &-field {
      position: relative;

      &.is-single {
        display: flex;
        margin-bottom: 5px;

        .SingleField {
          flex: 1;
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }

      &.is-form {
        padding: 10px 15px;
        margin-bottom: 15px;
        border: 1px solid rgba(#000, 0.12);
        border-radius: 4px;
        background: rgba(#000, 0.01);
      }

      &-remove.button {
        opacity: 0.3;

        &:hover {
          opacity: 0.8;
        }

        &.is-form {
          position: absolute;
          top: -1px;
          right: -1px;
          margin: 0;
        }

        &.is-single {
          margin-left: 5px;
        }
      }
    }
  }
}
