@import 'src/sass/variables';

.SingleField {
  margin-bottom: 10px;

  &-label {
    display: block;
    font-weight: bold;
    padding-left: 2px;
    font-size: 12px;
    margin-bottom: 2px;

    &-required {
      margin-left: 2px;
      color: $color-required;
    }
  }
}
