@import 'src/sass/variables';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  line-height: 52px;
  padding: 0 30px;
  background: #FFF;
  color: $color-text;
  box-shadow: 0 0 3px rgba(#000, 0.1);
  border-bottom: 1px solid rgba(#000, 0.2);
  z-index: 1;

  &-logo {
    display: block;
    height: 36px;

    &:hover {
      opacity: 0.7;
    }

    &-img {
      height: 100%;
    }
  }

  &-button {
    background: none;
    height: 38px;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: rgba(#000, 0.03);
      border-color: rgba(#000, 0.3);
    }
  }
}
