@keyframes content-fade-in {
  from {
    transform: translateY(3px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Template {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &-content {
    position: relative;
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    animation: content-fade-in 300ms ease 1;
  }
}
